---
import { Image } from "astro:assets";
import hudtest from "../../assets/images/hudtest.png";
import hudtest2 from "../../assets/images/hudtest2.png";
import hudtest3 from "../../assets/images/hudtest3.png";
import hudtest4 from "../../assets/images/hudtest4.png";
import hudtest5 from "../../assets/images/hudtest5.png";
import hudtest6 from "../../assets/images/hudtest6.png";
import Menu from "../Menu.astro";
import Menumobil from "../Menumobil.astro";
import Produktknap from "../Produktknap.astro";
---

<section class="baggrund">
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>

  <div class="plads1">
    <h1>MEET YOUR MATCH</h1>
    <h3>I AM PURIFIED</h3>
  </div>
  <Image class="hudtest" src={hudtest} alt="hudtest" />
  <div class="knap">
    <a href="/flowkoebs"><Produktknap text="BUY NOW" /></a>
  </div>
</section>

<section>
  <div class="flex">
    <div>
      <Image class="hudtest2" src={hudtest2} alt="hudtest2" />
      <div class="line"></div>
    </div>
    <h2 class="h2">NOT JUST A</h2>
    <h3 class="h3">CLEANSER</h3>
    <div>
      <p>
        I AM PURITY is more than just a facial cleanser - it's a daily reminder
        to embrace purity in all aspects of your life.Infused with natural
        ingredients like Strawberry and Calendula, this cleanser helps to uplift
        your spirit and promote inner peace. Made with only the purest, most
        natural ingredients, it's gentle enough for even the most sensitive skin
        types. Discover the power of purity with I AM PURITY, and let it nourish
        and rejuvenate your skin, leaving it feeling soft, smooth, and
        refreshed,making it the perfect addition to your skincare routine.
      </p>
      <p class="text3">Ingrediens:</p>
      <p class="text3">
        Aqua/Water, Glycerin, Cetyl Alcohol, Stearic Acid.Dimethicone,
        Tocopheryl Acetate (Vitamin E Acetate), Disodium EDTA,
        Ethylhexylglycerin, Hyaluronic Acid, Sodium Lauroyl Sarcosinate:
      </p>
    </div>
  </div>
</section>

<section>
  <h4>
    I AM PURRIFIED it's a daily dose of purity, ensuring your skin feels as
    radiant as your most cherished moments. Add it to your narrative for skin
    that's not just seen but celebrated.
  </h4>

  <Image class="hudtest3" src={hudtest3} alt="hudtest3" />
</section>

<section>
  <div>
    <h2 class="sec3">Discover Your Perfect Pair</h2>
  </div>
  <div class="grid">
    <div>
      <Image class="hudtest4" src={hudtest4} alt="hudtest4" />
      <h5>I AM PROTECTED</h5>
      <p class="p">face oil</p>
    </div>
    <div>
      <Image class="hudtest5" src={hudtest5} alt="hudtest5" />
      <h5 class="text">I AM YIN</h5>
      <p class="p text2">limited edition oil cleanser</p>
    </div>

    <div>
      <Image class="hudtest6" src={hudtest6} alt="hudtest6" />
      <h5>I AM HEALING</h5>
      <p class="p">face oil</p>
    </div>
  </div>
</section>

<style>
  @font-face {
    font-family: SackersGothic;
    src: url("/fonts/SackersGothicStdLight.ttf");
  }
  @font-face {
    font-family: fahkwangMedium;
    src: url("/fonts/Fahkwang-Medium.ttf");
  }

  @font-face {
    font-family: PlayfairdisplayRegular;
    src: url("/fonts/PlayfairDisplay-Regular.ttf");
  }
  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }

  @media (min-width: 1025px) {
    body {
      background-color: #f5f1eb;
    }

    .menu {
      position: absolute;
      margin-left: 30px;
      margin-top: 20px;
    }
    .menu1 {
      display: none;
    }
    .plads1 {
      text-align: center;
    }
    h1 {
      margin-top: 150px;
      position: absolute;
      text-align: center;
      margin-left: 670px;
    }
    h3 {
      margin-top: 208px;
      position: absolute;
      text-align: center;
      margin-left: 730px;
    }
    .hudtest {
      width: 1100px;
      height: auto;
      margin-top: 226px;
      margin-left: 280px;
    }
    .knap {
      margin-left: 1100px;
      margin-top: -100px;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
    .hudtest2 {
      width: 740px;
    }
    .break1 {
      margin-top: 50px;
    }
    h2 {
      text-align: center;
      margin-top: 130px;
      font-size: 30px;
    }
    p {
      width: 500px;
      margin-top: 256px;
      margin-left: -193px;
    }
    .h3 {
      margin-top: 165px;
      margin-left: 912px;
      font-size: 50px;
    }
    .text3 {
      margin-top: 20px;
    }
    .flex {
      display: flex;
    }

    .line {
      border-bottom: 2px solid black;
      width: 63%;
      margin-top: -620px;
      margin-left: 900px;
    }
    .hudtest3 {
      margin-top: 350px;
      width: 100%;
      height: 700px;
    }
    h4 {
      position: absolute;
      margin-left: 30px;
      margin-top: 934px;
      color: white;
      width: 500px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 150px;
      margin-top: 150px;
    }
    .hudtest4 {
      width: 243px;
      height: 420px;
    }
    .hudtest5,
    .hudtest6 {
      width: 200px;
      height: 400px;
    }
    .h2 {
      text-align: left;
      margin-left: 14px;
    }
    .p {
      margin-left: 86px;
      margin-bottom: 250px;
      margin-top: 13px;
      font-size: 20px;
    }
    h5 {
      margin-left: 20px;
      font-family: fahkwangRegular;
      font-size: 24px;
    }
    .text {
      margin-left: 52px;
    }
    .text2 {
      margin-left: -6px;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    body {
      background-color: #f5f1eb;
    }

    .menu {
      display: none;
    }
    h1 {
      margin-left: 50px;
      margin-top: 50px;
      font-size: 30px;
    }
    h3 {
      margin-left: 140px;
      margin-top: 5px;
      font-size: 20px;
    }
    .knap {
      margin-left: 1100px;
      margin-top: -100px;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }

    h4 {
      position: absolute;
      margin-top: 285px;
      color: white;
      width: 250px;
      font-family: PlayfairdisplayRegular;
      font-size: 14px;
      margin-left: 20px;
    }
    .hudtest2 {
      display: none;
    }
    .hudtest3 {
      margin-top: 100px;
      height: 300px;
    }

    .hudtest4 {
      width: 169px;
      height: 293px;
      margin-left: 147px;
    }
    .hudtest5,
    .hudtest6 {
      width: 150px;
      height: 270px;
      margin-left: 147px;
    }

    .text3 {
      width: 350px;
      margin-top: 10px;
    }
    p {
      margin-left: 50px;
      width: 350px;
      margin-top: 30px;
      font-size: 14px;
    }
    .h3 {
      margin-left: 50px;
      margin-left: 26px;
      margin-top: 50px;
    }
    h2 {
      text-align: center;
      margin-top: 50px;
    }
    .h3 {
      text-align: center;
      margin-top: 20px;
      font-size: 50px;
    }
    h5 {
      margin-left: 170px;
    }
    .p {
      text-align: center;
      margin-bottom: 60px;
      margin-top: 10px;
    }
    .text {
      margin-left: 190px;
    }
    .h2 {
      font-family: SackersGothic;
      font-size: 30px;
    }
    h5 {
      font-family: fahkwangRegular;
    }
  }

  @media (max-width: 599px) {
    body {
      background-color: #f5f1eb;
    }

    .menu {
      display: none;
    }
    h1 {
      margin-left: 50px;
      margin-top: 50px;
      font-size: 30px;
    }
    h3 {
      margin-left: 140px;
      margin-top: 5px;
      font-size: 20px;
    }
    .h2 {
    }

    h4 {
      position: absolute;
      margin-top: 285px;
      color: white;
      width: 250px;
      font-family: PlayfairdisplayRegular;
      font-size: 14px;
      margin-left: 20px;
    }
    .hudtest2 {
      display: none;
    }
    .hudtest3 {
      margin-top: 100px;
      height: 300px;
    }

    .hudtest4 {
      width: 169px;
      height: 293px;
      margin-left: 147px;
    }
    .hudtest5,
    .hudtest6 {
      width: 150px;
      height: 270px;
      margin-left: 147px;
    }

    .text3 {
      width: 350px;
      margin-top: 10px;
    }
    p {
      margin-left: 50px;
      width: 350px;
      margin-top: 30px;
      font-size: 14px;
    }
    .h3 {
      margin-left: 50px;
      margin-left: 26px;
      margin-top: 50px;
    }
    h2 {
      text-align: center;
      margin-top: 50px;
    }
    .h3 {
      text-align: center;
      margin-top: 20px;
      font-size: 50px;
    }
    h5 {
      margin-left: 170px;
    }
    .p {
      text-align: center;
      margin-bottom: 60px;
      margin-top: 10px;
    }
    .text {
      margin-left: 190px;
    }
    .h2 {
      font-family: SackersGothic;
      font-size: 30px;
    }
    h5 {
      font-family: fahkwangRegular;
    }
    .knap {
      margin-left: 80px;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }
</style>
