---
import { Image } from "astro:assets";
import testimonials from "../assets/images/test3.png";
import test from "../assets/images/test2.png";
import test2 from "../assets/images/test.png";
---

<section class="testimonial-slider">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <Image class="pic" src={testimonials} alt="testimonials" />
      </div>
      <div class="slide">
        <Image class="pic" src={test} alt="testimonials" />
      </div>
      <div class="slide">
        <Image class="pic" src={test2} alt="testimonials" />
      </div>
      <div class="slide">
        <Image class="pic" src={testimonials} alt="testimonials" />
      </div>
      <div class="slide">
        <Image class="pic" src={test} alt="testimonials" />
      </div>
      <div class="slide">
        <Image class="pic" src={test2} alt="testimonials" />
      </div>
    </div>
  </div>
</section>
<style>
  body {
    margin: 0;
    background-color: #f5f1eb;
  }

  .testimonial-slider {
    display: grid;
    place-items: center;
    background-color: #120f0c;
    padding: 50px 0;
  }

  .slider {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 100%;
  }

  .slide-track {
    display: flex;
    width: 100%;
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 6));
    }
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex: 0 0 250px;
  }

  .pic {
    width: 100%;
    height: auto;
    max-width: 250px;
  }

  img:hover {
    transform: translateZ(10px);
    transition: transform 0.3s;
  }

  /* Desktop Styles */
  @media (min-width: 1025px) {
    .testimonial-slider {
      padding: 100px 0;
    }
    .slide-track {
      width: calc(250px * 6);
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 3));
      }
    }
    .pic {
      max-width: 400px;
    }
  }

  /* Tablet Styles */
  @media (min-width: 600px) and (max-width: 1024px) {
    .slide-track {
      width: calc(200px * 6);
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-200px * 3));
      }
    }
    .slide {
      flex: 0 0 200px;
    }
    .pic {
      max-width: 200px;
    }
  }

  /* Mobile Styles */
  @media (max-width: 599px) {
    .testimonial-slider {
      padding: 50px 0;
    }
    .slide-track {
      width: calc(150px * 6);
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-150px * 3));
      }
    }
    .slide {
      flex: 0 0 150px;
    }
    .pic {
      max-width: 150px;
    }
  }
</style>
