---
import { Image } from "astro:assets";
import Menu from "./Menu.astro";
import højre from "../assets/images/landing2.png";
import venstre from "../assets/images/landing1.png";
import forside from "../assets/images/forside1.png";
import pro1 from "../assets/images/produkt1.png";
import pro2 from "../assets/images/produkt2.png";
import pro3 from "../assets/images/produkt3.png";
---

<section class="header">
  <div class="menu"><Menu /></div>

  <div class="flex">
    <div>
      <Image class="pic" src={venstre} alt="venstre" />
    </div>
    <div>
      <h3>I AM PROTECTED</h3>
      <Image class="pic3" src={højre} alt="venstre" />
      <p class="hero">
        Luxuriously soothing and deeply moisturizing, it swiftly penetrates the
        skin, making it your go-to for daytime radiance.
      </p>
    </div>
  </div>
</section>
<section class="citat">
  <div>
    <h4>
      "I AM" cultivates awareness and empowers out consumers to take an active <br
      />
      role in their journey, embracing their inner energy and guidance to become
      <br />
      self-experts"
    </h4>
  </div>
</section>
<section class="bestseller">
  <div class="bestseller1">
    <h2>BEST SELLER</h2>
    <h3 class="bestseller3">
      Introducing our Bestseller - our faceoils Bestseller Face Oil
    </h3>
    <p class="bestseller2">
      Some of the love-infused benefits: Radiance-Boosting Raspberry Seed Oil:
      Enriched with potent antioxidants, this elixir strengthens your skin's
      defenses against daily stressors, ensuring a flawless, luminous
      complexion. Balancing Squalene Formula: Experience the magic of balanced
      hydration as this lightweight elixir harmonizes your skin's natural oils,
      leaving it resilient, supple, and deeply nourished. Luxurious Pequi Oil
      Blend: Indulge in the ultimate skin treat! Our blend of pequi oil, rich in
      essential fatty acids and vitamins, deeply nourishes your skin, unveiling
      a captivating glow and lasting vitality.
    </p>
  </div>
  <div>
    <Image class="pic1" src={forside} alt="højre" />
  </div>
</section>
<section>
  <h2 class="produkter">OTHER PRODUCTS</h2>
  <div class="produkt">
    <div>
      <Image class="pic2" src={pro3} alt="pro1" />
      <p>I AM HEALING <br /> FACE OIL <br /> 415 kr</p>
    </div>
    <div>
      <Image class="pic2" src={pro1} alt="pro1" />
      <p>
        I AM PURIFIED <br />
        FACE WASH <br />
        225 kr
      </p>
    </div>
    <div>
      <Image class="pic2" src={pro2} alt="pro1" />
      <p>
        I AM NOURISHED <br />
        BODY OIL <br />
        355 kr
      </p>
    </div>
  </div>
</section>
<style>
  @media (min-width: 1025px) {
    body {
      background-color: #f5f1eb;
    }
    .flex {
      display: flex;
    }
    .header {
      position: relative;
    }
    .menu {
      position: absolute;
      margin-top: 40px;
    }

    h4 {
      text-align: center;
      padding: 100px;
    }
    .citat {
      width: auto;
      height: auto;
    }
    .bestseller {
      display: flex;
      width: auto;
      height: auto;
    }

    .bestseller1 {
      background-color: #46433b;
    }
    h2 {
      margin-left: 150px;
      margin-top: 150px;
      color: white;
    }
    .bestseller2 {
      width: 510px;
      margin-left: 150px;
      margin-right: 300px;
      margin-top: 30px;
      color: white;
    }
    .pic {
      width: 800px;
      height: 800px;
    }
    .pic3 {
      margin-left: 288px;
      width: 250px;
      height: auto;
    }
    .pic1 {
      width: 630px;
      height: 600px;
    }
    .produkter {
      color: black;
      margin-left: 28px;
    }
    .produkt {
      display: flex;
      gap: 160px;
      align-items: center;
      margin: 30px;
    }
    h3 {
      margin-top: 180px;
      margin-left: 325px;
    }
    .hero {
      width: 338px;
      margin-left: 263px;
    }
    .bestseller3 {
      color: white;
      margin-left: 150px;
      margin-top: 5px;
    }
  }
</style>
