---
import { Image } from "astro:assets";
import Menu from "./Menu.astro";
import højre from "../assets/images/landing2.png";
import venstre from "../assets/images/landing1.png";
import forside from "../assets/images/forside1.png";
import pro1 from "../assets/images/produkt1.png";
import pro2 from "../assets/images/produkt2.png";
import pro3 from "../assets/images/produkt3.png";
import landing1 from "../assets/images/landingpage1.png";
import Menumobil from "./Menumobil.astro";
import Produktknap from "./Produktknap.astro";
---

<section class="header">
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>
  <h1>I AM BEAUTIFUL</h1>
  <div class="flex">
    <div></div>
    <div>
      <Image class="pic" src={venstre} alt="venstre" />
    </div>
    <div>
      <h3>OUR GLOWGETTER:</h3>
      <p>SHIELDING SHINE FOR SUNNY DAYS!</p>
      <Image class="pic3" src={landing1} alt="landing1" />
      <p class="hero">
        Our luxuriously face oil soothes and deeply moisturizing, it swiftly
        penetrates the skin, making it your go-to for summer radiance.
      </p>
      <div class="knap">
        <a href="/shop"><Produktknap text="DISCOVER PRODUCT" /></a>
      </div>
    </div>
  </div>
</section>
<section class="citat">
  <div>
    <h4>
      "I AM" cultivates awareness and empowers our consumers to take an active
      role in their journey, embracing their inner energy and guidance to become
      self-experts"
    </h4>
  </div>
</section>
<section class="bestseller">
  <div class="bestseller1">
    <h2 class="best">BEST SELLER</h2>
    <h3 class="bestseller3">I AM PURIFIED Cleansing Oil</h3>
    <p class="bestseller2">Some of the love-infused benefits:</p>
    <p class="bestseller2">
      Radiance-Boosting Raspberry Seed Oil: Enriched with potent antioxidants,
      this elixir strengthens your skin's defenses against daily stressors,
      ensuring a flawless, luminous complexion.
    </p>
    <p class="bestseller2">
      Balancing Squalene Formula: Experience the magic of balanced hydration as
      this lightweight elixir harmonizes your skin's natural oils, leaving it
      resilient, supple, and deeply nourished.
    </p>
    <p class="bestseller2">
      Luxurious Pequi Oil Blend: Indulge in the ultimate skin treat! Our blend
      of pequi oil, rich in essential fatty acids and vitamins, deeply nourishes
      your skin, unveiling a captivating glow and lasting vitality.
    </p>
    <div class="knap2">
      <a href="/shop"><Produktknap text="ADD TO CART" /></a>
    </div>
  </div>
  <div>
    <Image class="pic1" src={forside} alt="højre" />
  </div>
</section>
<section>
  <h2 class="produkter">OTHER PRODUCTS</h2>
  <div class="produkt">
    <div>
      <Image class="pic2" src={pro3} alt="pro1" />
      <p class="tekst">I AM HEALING <br /> FACE OIL <br /> 415 kr</p>
    </div>
    <div>
      <Image class="pic2" src={pro1} alt="pro1" />
      <p class="tekst">
        I AM PURIFIED <br />
        FACE WASH <br />
        225 kr
      </p>
    </div>
    <div>
      <Image class="pic2" src={pro2} alt="pro1" />
      <p class="tekst">
        I AM NOURISHED <br />
        BODY OIL <br />
        355 kr
      </p>
    </div>
  </div>
</section>
<style>
  body {
    background-color: #f5f1eb;
  }
  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }
  @font-face {
    font-family: PlayfairdisplayBold;
    src: url("/fonts/PlayfairDisplay-Bold.ttf");
  }
  @font-face {
    font-family: PlayfairdisplayRegular;
    src: url("/fonts/PlayfairDisplay-Regular.ttf");
  }
  @font-face {
    font-family: ZapfHumanist;
    src: url("/fonts/ZapfHumanist601Regular.ttf");
  }
  @font-face {
    font-family: fahkwangMedium;
    src: url("/fonts/Fahkwang-Medium.ttf");
  }

  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    font-family: fahkwangRegular;
    font-size: 4vw;
    margin: 20px 0;
  }

  .pic {
    height: auto;
    max-width: 100%;
  }

  .pic3 {
    width: 100%;
    height: auto;
  }

  h3 {
    font-family: PlayfairdisplayBold;
    font-size: 3vw;
    margin: 10px 0;
  }

  p {
    font-family: PlayfairdisplayRegular;
    font-size: 1.5vw;
    margin: 10px 0;
  }

  .hero {
    font-family: ZapfHumanist;
    font-size: 1.5vw;
    margin: 10px 0;
    text-align: center;
  }

  .knap,
  .knap2 {
    margin: 20px 0;
  }

  .bestseller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
  }

  .bestseller1 {
    text-align: center;
    background-color: #46433b;
    padding: 10px;
  }

  .best,
  .bestseller3 {
    font-family: fahkwangMedium;
    margin: 10px 0;
  }

  .best {
    font-size: 2.5vw;
  }

  .bestseller3 {
    font-size: 2vw;
  }

  .bestseller2 {
    font-family: ZapfHumanist;
    font-size: 1.5vw;
    margin: 10px 0;
  }

  .pic1 {
    width: 95%;
    height: auto;
    margin-top: 2vh;
  }

  .produkter {
    text-align: center;
    font-family: fahkwangMedium;
    font-size: 2.5vw;
    margin: 20px 0;
  }

  .produkt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .pic2 {
    max-width: 100%;
    height: auto;
  }

  .tekst {
    text-align: center;
    font-family: ZapfHumanist;
    font-size: 1.5vw;
  }

  @media (min-width: 1025px) {
    .menu1 {
      display: none;
    }

    .citat h4 {
      text-align: center;
      font-family: PlayfairdisplayRegular;
      font-size: 2vw;
    }

    .flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .flex > div {
      margin: 10px;
    }

    h1 {
      position: absolute;
      top: 140px;
      left: 600px;
      font-size: 4vw;
    }
    .pic3 {
      width: 20vh;
      margin-left: 20vh;
    }

    .pic {
      height: 145vh;
      margin-left: -14vh;
      margin-top: -49vh;
      width: 200vh;
    }

    h3 {
      font-family: PlayfairdisplayBold;
      font-size: 3vw;
      margin: 10px 0;
      margin-top: 30vh;
    }

    .hero {
      width: 534px;
      font-size: 20px;
      text-align: left;
    }
    h4 {
      padding: 100px;
      font-size: 26px;
    }
    .bestseller {
      flex-direction: row;
    }
    .bestseller1 {
      width: 75%;
    }
    .best {
      margin-top: 50px;
    }
    .bestseller2 {
      width: 630px;
      text-align: left;
    }
    .knap {
      margin-left: 10vh;
    }
    .bestseller3 {
      margin-left: 0;
    }
    .produkt {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 160px;
      align-items: center;
      margin: 30px;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .menu1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .menu {
      display: none;
    }
    h1 {
      font-size: 12vw;
      margin: 20px 0;
      text-align: center;
      position: absolute;
      margin-top: 82vw;
    }

    .pic {
      width: 100%;
      height: auto;
    }
    h3 {
      font-size: 8vw;
      margin-top: 5vh;
      margin-left: 6vh;
    }
    .pic3 {
      width: 40%;
      margin: 0 auto;
      margin-left: 22vh;
    }
    .hero {
      width: 73%;
      margin: 0 auto;
      font-size: 4vw;
      text-align: left;
    }
    h4 {
      padding: 20px;
      font-size: 5vw;
      text-align: center;
      width: 700px;
    }
    .bestseller {
      flex-direction: column;
    }
    .bestseller1 {
      text-align: center;
      background-color: #46433b;
      padding: 35px;
      width: 724px;
      margin-left: -33px;
    }
    .best {
      font-size: 8vw;
      margin-left: -14vh;
    }
    .bestseller2 {
      width: 100%;
      font-size: 4.5vw;
      text-align: left;
    }
    .bestseller3 {
      font-size: 5vw;
    }
    .produkt {
      flex-direction: column;
      gap: 20px;
    }
    .tekst {
      font-size: 6vw;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .flex {
      display: flex;
      flex-direction: column;
    }
    p {
      font-family: PlayfairdisplayRegular;
      font-size: 5.5vw;
      margin: 10px 0;
      margin-left: 1vh;
    }
    .knap {
      margin-left: 22vh;
    }
    .pic1 {
      width: 69vh;
      height: auto;
      margin-top: 0;
      margin-left: -4vh;
    }
    .produkter {
      text-align: center;
      font-family: fahkwangMedium;
      font-size: 7.5vw;
      margin: 20px 0;
    }
    .pic2 {
      width: 50vh;
      margin-left: 11vh;
    }
    .land {
      width: 366px;
      height: auto;
    }
  }

  @media (max-width: 599px) {
    .menu1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .menu {
      display: none;
    }
    h1 {
      font-size: 12vw;
      margin: 20px 0;
      text-align: center;
      position: absolute;
      margin-top: 82vw;
    }

    .pic {
      width: 100%;
      height: auto;
    }
    h3 {
      font-size: 8vw;
      margin-top: 5vh;
      margin-left: 4vh;
    }
    .pic3 {
      width: 40%;
      margin: 0 auto;
      margin-left: 14vh;
    }
    .hero {
      width: 73%;
      margin: 0 auto;
      font-size: 4vw;
      text-align: left;
    }
    h4 {
      padding: 20px;
      font-size: 5vw;
      text-align: center;
    }
    .bestseller {
      flex-direction: column;
    }
    .bestseller1 {
      text-align: center;
      background-color: #46433b;
      width: 54vh;
      padding: 20px;
    }
    .best {
      font-size: 8vw;
      margin-left: -14vh;
    }
    .bestseller2 {
      width: 100%;
      font-size: 4.5vw;
      text-align: left;
    }
    .bestseller3 {
      font-size: 6vw;
    }
    .produkt {
      flex-direction: column;
      gap: 20px;
    }
    .tekst {
      font-size: 6vw;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .flex {
      display: flex;
      flex-direction: column;
    }
    p {
      font-family: PlayfairdisplayRegular;
      font-size: 5.5vw;
      margin: 10px 0;
      margin-left: 1vh;
    }
    .knap {
      margin-left: 8vh;
    }
    .pic1 {
      width: 46vh;
      height: auto;
      margin-top: 0;
    }
    .produkter {
      text-align: center;
      font-family: fahkwangMedium;
      font-size: 7.5vw;
      margin: 20px 0;
    }
  }
</style>
