---
import { Image } from "astro:assets";
import abouthero from "../assets/images/heropic.png";
import about2 from "../assets/images/about2.jpeg";
import about3 from "../assets/images/about3.png";
import about5 from "../assets/images/about5.png";
import about4 from "../assets/images/about4.png";
import Menu from "./Menu.astro";
import Menumobil from "./Menumobil.astro";
import Omosknap from "./Omosknap.astro";
---

<section>
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>
  <Image class="abouthero" src={abouthero} alt="abouthero" />
  <div class="baggrundsfarve">
    <h1>WHO ARE WE</h1>
    <p class="about">
      We met in Copenhagen in November 2019 – Nelle, a holistic beauty expert,
      and Blake, a photographer. Sharing a mission to bring more pleasure,
      presence, and nature into people's lives, we quickly discovered our
      commonalities and realized we were living parallel lives. Navigating
      life's big questions, we always found our way back to nature.
      <br />
      <br />As partners, our mission grew clearer. We aimed to craft products
      that foster a deep connection with oneself, elevating everyday life with
      nature's enchanting ingredients. Our products transcend gender, race, skin
      color, and age, focusing on the essence of being human.
    </p>
  </div>
</section>

<section class="flex">
  <div class="baggrund">
    <div>
      <Image class="illustration hidden" src={about4} alt="illustration" />
    </div>
    <h2 class="color">ABOUT US</h2>
    <p class="color1">
      Welcome to I AM Skincare - where self-love meets conscious beauty. Our
      vegan products embody self-care and mindfulness, rooted in cleanliness,
      organic sourcing, and ethical production. Handcrafted in Denmark, each
      product ensures top quality and freshness. With I AM, you get skincare
      that nourishes your skin and aligns with your values. Embrace clean,
      organic, and ethical beauty – because loving yourself means choosing the
      best for your skin.
    </p>
  </div>
  <div><Image class="about2" src={about2} alt="about2" /></div>
</section>

<section class="baggrund2">
  <div class="center">
    <h2 class="value2">OUR VALUES</h2>
    <p class="value">
      Embracing the 'I AM' philosophy, we believe in the transformative power of
      energy, shaped by thoughts and feelings. Embracing positivity is a choice,
      and we're here to support you on this journey. Our products are infused
      with self-love, consciousness, and empowering mantras, offering constant
      support no matter where you are on your path
    </p>
  </div>
</section>

<section class="flex1">
  <div><Image class="about3" src={about3} alt="about3" /></div>
  <div><Image class="about5" src={about5} alt="about5" /></div>
  <div class="baggrund1">
    <h2 class="center1">
      Struggling to find the perfect match <br /> for your skin? Look no further!
    </h2>
    <p class="about4">
      Our quick quiz is here to revolutionize your skincare routine and lead you
      straight to your ideal match made in heaven. Whether you're battling with
      dryness, breakouts, or simply seeking that coveted youthful glow, our
      personalized quiz will analyze your unique needs and preferences to
      pinpoint the perfect product for you.
      <br />
      <br />
      Say goodbye to guesswork and hello to glowing, radiant skin! With just a few
      simple questions, you'll be on your way to discovering the skincare solution
      you've been dreaming of so why wait?
    </p>
    <div class="knap">
      <a href="/Hudanalyse/analyse"><Omosknap /></a>
    </div>
  </div>
</section>

<style>
  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }
  body {
    background-color: #f5f1eb;
    margin: 0;
    font-family: "FahkwangRegular", sans-serif;
  }

  @media (min-width: 1025px) {
    .menu1 {
      display: none;
    }
    .hidden {
      display: none;
    }
    .knap {
      margin-left: 2%;
      margin-top: -8%;
    }
    .abouthero {
      height: 1300px;
      width: 100%;
      margin-top: -6%;
    }
    h1 {
      position: absolute;
      margin-top: 150px;
      margin-left: 5rem;
      color: white;
      font-size: 30px;
      letter-spacing: 4px;
    }
    .about {
      position: absolute;
      margin-top: 14rem;
      margin-left: 5rem;
      width: 650px;
      color: white;
      font-size: 16px;
    }
    .flex {
      display: flex;
    }
    .flex1 {
      display: flex;
    }
    .baggrund {
      background-color: #46433b;
      padding: 100px;
      height: 600px;
      margin-top: -6px;
    }
    .about2 {
      margin-top: -6px;
      width: 620px;
      height: 600px;
    }
    .color {
      margin-top: -1220px;
      margin-left: 20px;
    }
    .color1 {
      width: 600px;
      font-size: 16px;
      margin-top: 30px;
      margin-left: 20px;
    }
    .center {
      text-align: center;
    }
    .value {
      margin-left: 240px;
      margin-right: 240px;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 130px;
    }
    .value2 {
      margin-top: 200px;
      letter-spacing: 4px;
      color: ;
    }
    .center1 {
      margin-top: 180px;
      margin-left: 130px;
      color: white;
      margin-bottom: 20px;
      font-size: 25px;
    }
    .about4 {
      width: 480px;
      margin-left: 130px;
      color: white;
      font-size: 16px;
      line-height: 20px;
    }
    .about3 {
      margin-top: 89px;
      width: 700px;
      height: 680px;
    }
    .baggrund1 {
      background-color: #46433b;
      height: 680px;
      margin-top: 89px;
      width: 1260px;
      margin-left: -496px;
    }
    .about5 {
      margin-left: -440px;
      margin-top: 940px;
      margin-bottom: 150px;
      width: 935px;
    }
    h2 {
      font-family: fahkwangRegular;
      font-size: 32px;
    }
  }

  /* ------ IPAD ----------*/
  @media (min-width: 600px) and (max-width: 1024px) {
    .menu {
      display: none;
    }

    .menu1 {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* Sørg for, at Menumobil er øverst */
    }
    .baggrundsfarve {
      background-color: #46433b;
      width: 100%;
      height: 650px;
      /*padding: 374px;*/
      margin-top: 550px;
    }
    h1 {
      color: white;
      font-size: 30px;
      /*margin-left: -295px;*/
      margin-left: 170px;
      padding-top: 150px;
    }
    .about {
      color: white;
      font-size: 19px;
      width: 500px;
      margin-top: 50px;
      /*margin-left: -300px;*/
      margin-left: 170px;
    }
    .abouthero {
      height: 100%;
      width: 100%;
      margin-top: -16%;
    }
    /* .illustration {
      width: 1710px;
      height: 360px;
    }*/

    .baggrund {
    }
    .about2 {
      margin-top: -15%;
      width: 100%;
      height: 800px;
    }
    .color {
      margin-left: 170px;
      font-size: 30;
      margin-top: -1255px;
    }
    .color1 {
      width: 600px;
      margin-left: 10%;
      margin-bottom: 100px;
      margin-top: 50px;
      font-size: 20px;
    }
    .center {
      /*text-align: center;
      margin-left: 550px;*/
      width: 700px;
    }
    .value {
      text-align: center;
      color: black;
      font-size: 19px;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 636px;
    }
    .value2 {
      text-align: center;
      margin-top: 50px;
      color: black;
      font-size: 40px;
    }
    .center1 {
      background-color: #46433b;
      color: white;
      padding-top: 15%;
      margin-left: 10%;
      font-size: 30px;
      margin-top: -10px;
    }
    .about4 {
      background-color: #46433b;
      color: white;
      width: 550px;
      margin-left: 10%;
      font-size: 19px;
      margin-bottom: 100px;
      margin-top: 50px;
    }
    .about3 {
      width: 100%;
      height: 1000px;
    }
    .baggrund1 {
      height: 590px;
      background-color: #46433b;
      width: 100%;
      margin-bottom: 32%;
    }
    .about5 {
      position: absolute;
      margin-left: 10%;
      margin-top: 690px;
      width: 80%;
    }
    .baggrund2 {
      padding: 100px;
      width: 600px;
      margin-top: -5px;
    }
  }

  @media (max-width: 599px) {
    .menu {
      display: none;
    }

    .menu1 {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* Sørg for, at Menumobil er øverst */
    }

    .baggrundsfarve {
      background-color: #46433b;
      width: 100%;
      height: auto;
      padding: 20px;
      margin-top: 600px;
    }

    h1 {
      color: white;
      font-size: 30px;
      margin-left: 50px;
    }

    .about {
      color: white;
      font-size: 19px;
      width: 300px;
      margin-top: 50px;
      margin-left: 10%;
    }

    .abouthero {
      height: 550px;
      width: 100%;
      margin-top: -16%;
    }

    .baggrund {
      padding: 20px;
    }

    .about2 {
      margin-top: -11%;
      width: 100%;
      height: auto;
    }

    .color {
      margin-left: 5%;
      font-size: 30px;
      margin-top: -1325px;
    }

    .color1 {
      width: 307px;
      margin-bottom: 125px;
      margin-top: 35px;
      font-size: 16px;
      line-height: 25px;
      margin-left: 5%;
    }

    .center {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .value {
      text-align: left;
      margin-left: 5%;
      margin-right: auto;
      color: black;
      font-size: 19px;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 300px;
    }

    .value2 {
      margin-top: 50px;
      color: black;
      font-size: 30px;
      text-align: left;
      margin-left: 5%;
    }

    .center1 {
      background-color: #46433b;
      color: white;
      padding-top: 20%;
      margin-left: 5%;
      font-size: 25px;
      margin-top: -10px;
    }

    .about4 {
      background-color: #46433b;
      color: white;
      width: 300px;
      margin-left: 5%;
      font-size: 19px;
      margin-bottom: 100px;
      margin-top: 50px;
    }

    .about3 {
      width: 100%;
      height: auto;
    }

    .baggrund1 {
      height: auto;
      background-color: #46433b;
      width: 100%;
      padding: 20px;
    }

    .about5 {
      position: relative;
      margin-left: 40px;
      margin-top: 10%;
      width: 300px;
      margin-bottom: 10%;
    }

    .baggrund2 {
      padding: 20px;
      width: 100%;
      margin-top: -5px;
    }

    .flex,
    .flex1 {
      display: block;
    }
  }
</style>
