---
import { Image } from "astro:assets";
import abouthero from "../assets/images/heropic.png";
import about2 from "../assets/images/about2.jpeg";
import about3 from "../assets/images/about3.png";
import about5 from "../assets/images/about5.png";
import about4 from "../assets/images/about4.png";
import Menu from "./Menu.astro";
import Menumobil from "./Menumobil.astro";
---

<section>
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>
  <Image class="abouthero" src={abouthero} alt="abouthero" />
  <div class="baggrundsfarve">
    <h1>WHO ARE WE</h1>
    <p class="about">
      We met in Copenhagen November 2019. Nelle, a holistic beauty expert, and
      Blake, a photographer, both entrepreneurs sharing the same mission: to
      bring more pleasure, presence, and nature into people’s lives. Quickly
      discovering our commonalities, we realized we were living parallel lives,
      navigating life's profound questions, and always finding our way back to
      our essence through nature. 
      <br />
      <br /> As partners, our mission and desires grew clearer over the years.
      We aimed to craft products that nurture a profound connection with
      oneself, elevating daily life by bringing more pleasure to the everyday
      experience through nature's enchanting ingredients. Our products transcend
      gender, race, skin color, and age, focusing on the essence of the human
      being.
    </p>
  </div>
</section>

<section class="flex">
  <div class="baggrund">
    <div>
      <Image class="illustration hidden" src={about4} alt="illustration" />
    </div>
    <h2 class="color">ABOUT US</h2>
    <p class="color1">
      Welcome to I AM Skincare - where self-love meets conscious beauty. Our
      ethos revolves around crafting vegan skincare products that embody
      self-care, mindfulness, and ethical practices. Rooted in the principles of
      cleanliness, organic sourcing, and ethical production, our beauty line is
      a testament to purity and integrity. Each product is lovingly handcrafted
      and meticulously formulated right here in Denmark, ensuring the highest
      quality and freshness. With I AM, you can trust in skincare that not only
      nourishes your skin but also aligns with your values. Embrace the power of
      clean, organic, and ethical beauty - because when you love yourself, you
      choose the best for your skin.
    </p>
  </div>
  <div><Image class="about2" src={about2} alt="about2" /></div>
</section>

<section class="baggrund2">
  <div class="center">
    <h2 class="value2">OUR VALUES</h2>
    <p class="value">
      Embracing the philosophy of 'I AM', we believe in the transformative power
      of energy, influenced by our thoughts and feelings. Choosing to embrace
      life's positivity is a conscious decision. We aim to accompany you on this
      journey, infusing our products with self-love, consciousness, and
      empowering mantras. These mantras resonate wherever you are on your path,
      a constant support in your journey.
    </p>
  </div>
</section>

<section class="flex1">
  <div><Image class="about3" src={about3} alt="about3" /></div>
  <div><Image class="about5" src={about5} alt="about5" /></div>
  <div class="baggrund1">
    <h2 class="center1">
      Struggling to find the perfect match <br /> for your skin? Look no further!
    </h2>
    <p class="about4">
      Our quick quiz is here to revolutionize your skincare routine and lead you
      straight to your ideal match made in heaven. Whether you're battling with
      dryness, breakouts, or simply seeking that coveted youthful glow, our
      personalized quiz will analyze your unique needs and preferences to
      pinpoint the perfect product for you.
      <br />
      <br />
      Say goodbye to guesswork and hello to glowing, radiant skin! With just a few
      simple questions, you'll be on your way to discovering the skincare solution
      you've been dreaming of.So why wait?
    </p>
  </div>
</section>

<style>
  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }
  body {
    background-color: #f5f1eb;
    margin: 0;
    font-family: "FahkwangRegular", sans-serif;
  }

  @media (min-width: 1025px) {
    .menu1 {
      display: none;
    }
    .hidden {
      display: none;
    }

    .menu {
      position: absolute;
      margin-top: 40px;
    }
    .abouthero {
      height: 1300px;
      width: 100%;
    }
    h1 {
      position: absolute;
      margin-top: 150px;
      margin-left: 5rem;
      color: white;
      font-size: 30px;
      letter-spacing: 4px;
    }
    .about {
      position: absolute;
      margin-top: 14rem;
      margin-left: 5rem;
      width: 650px;
      color: white;
      font-size: 16px;
    }
    .flex {
      display: flex;
    }
    .flex1 {
      display: flex;
    }
    .baggrund {
      background-color: #46433b;
      padding: 100px;
      height: 600px;
      margin-top: -6px;
    }
    .about2 {
      margin-top: -6px;
      width: 620px;
      height: 600px;
    }
    .color {
      margin-top: -1220px;
      margin-left: 20px;
    }
    .color1 {
      width: 600px;
      font-size: 16px;
      margin-top: 30px;
      margin-left: 20px;
    }
    .center {
      text-align: center;
    }
    .value {
      margin-left: 240px;
      margin-right: 240px;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 130px;
    }
    .value2 {
      margin-top: 200px;
      letter-spacing: 4px;
      color: ;
    }
    .center1 {
      margin-top: 180px;
      margin-left: 130px;
      color: white;
      margin-bottom: 20px;
      font-size: 25px;
    }
    .about4 {
      width: 480px;
      margin-left: 130px;
      color: white;
      font-size: 16px;
      line-height: 20px;
    }
    .about3 {
      margin-top: 89px;
      width: 700px;
      height: 680px;
    }
    .baggrund1 {
      background-color: #46433b;
      height: 680px;
      margin-top: 89px;
      width: 1260px;
      margin-left: -496px;
    }
    .about5 {
      margin-left: -440px;
      margin-top: 940px;
      margin-bottom: 150px;
      width: 935px;
    }
    h2 {
      font-family: fahkwangRegular;
      font-size: 32px;
    }
  }

  @media (max-width: 599px) {
    .menu {
      display: none;
    }

    .menu1 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* Sørg for, at Menumobil er øverst */
    }
    .baggrundsfarve {
      background-color: #46433b;
      width: 600px;
      height: 650px;
      /*padding: 374px;*/
      margin-top: -10px;
    }
    h1 {
      color: white;
      font-size: 30px;
      /*margin-left: -295px;*/
      margin-left: 50px;
      padding-top: 100px;
    }
    .about {
      color: white;
      font-size: 19px;
      width: 500px;
      margin-top: 50px;
      /*margin-left: -300px;*/
      margin-left: 50px;
    }
    .abouthero {
      height: 750px;
      width: 600px;
    }
    /* .illustration {
      width: 1710px;
      height: 360px;
    }*/

    .baggrund {
    }
    .about2 {
      margin-top: 00%;
      width: 600px;
      height: 500px;
    }
    .color {
      margin-left: 50px;
      font-size: 30;
      padding-top: 100px;
    }
    .color1 {
      width: 500px;
      margin-left: 50px;
      margin-bottom: 100px;
      margin-top: 50px;
      font-size: 20px;
    }
    .center {
      /*text-align: center;
      margin-left: 550px;*/
    }
    .value {
      color: white;
      text-align: left;
      font-size: 19px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: -13%;
    }
    .value2 {
      margin-top: 50px;
      color: white;
      font-size: 30px;
      margin-left: -13%;
    }
    .center1 {
      margin-top: -90px;
      margin-left: 50px;
      font-size: 20;
    }
    .about4 {
      width: 500px;
      margin-left: 50px;
      font-size: 19px;
      margin-bottom: 100px;
      margin-top: 20px;
    }
    .about3 {
      width: 600px;
      height: 600px;
    }
    .baggrund1 {
    }
    .about5 {
      margin-left: 40px;
      margin-top: 60px;
      margin-bottom: 150px;
      width: 500px;
    }
    .baggrund2 {
      background-color: #46433b;
      padding: 100px;
      width: 600px;
      margin-top: -5px;
    }
  }
</style>
