---
import Menu from "./Menu.astro";
import Menumobil from "./Menumobil.astro";
import { Image } from "astro:assets";
import pro from "../assets/images/pro.png";
import pro1 from "../assets/images/pro1.png";
import pro2 from "../assets/images/pro2.png";
import pro3 from "../assets/images/pro3.png";
import pro4 from "../assets/images/pro4.png";
import pro5 from "../assets/images/pro5.png";
import pro6 from "../assets/images/pro6.png";
import pro7 from "../assets/images/pro7.png";
import pro8 from "../assets/images/pro8.png";
import stjerne from "../assets/images/stjerne.png";
import shop3 from "../assets/images/shop3.png";
import shop5 from "../assets/images/shop5.png";
import shop6 from "../assets/images/shop6.png";
import Produktknap from "./Produktknap.astro";
---

<section class="header">
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>
</section>

<section class="product-section">
  <div class="grid">
    <div class="product-images">
      <Image class="produkt1" src={pro1} alt="produkt1" />
      <Image class="produkt2" src={pro2} alt="produkt2" />
      <Image class="produkt3" src={pro3} alt="produkt3" />
    </div>
    <div class="main-image">
      <Image class="shop1" src={pro} alt="shop1" />
    </div>
    <div class="product-details">
      <h1>I AM PURIFIED</h1>
      <p class="p1">
        Our "I AM Bundles" offer includes our luxurious Body oil, our gentle yet
        effective Face wash. As an added bonus, you can choose from our Face oil
        options or to complete your skincare routine.
      </p>
      <div class="flex3">
        <Image class="stjerne" src={stjerne} alt="stjerne" />
        <Image class="stjerne" src={stjerne} alt="stjerne" />
        <Image class="stjerne" src={stjerne} alt="stjerne" />
        <Image class="stjerne" src={stjerne} alt="stjerne" />
        <Image class="stjerne" src={stjerne} alt="stjerne" />
        <p class="p2">10 reviews</p>
      </div>
      <p class="pris">225,00 DKK</p>
      <div class="boks">
        <p class="boks1">- 1 +</p>
      </div>
      <div class="knap">
        <a href="/flowkoebs"><Produktknap text="ADD TO CART " /></a>
      </div>

      <p class="p3">Free shipping in EU above 499 DKK</p>
      <div class="line"></div>
      <h3>Suited to</h3>
      <p>Oily, combination and open-pored skin, warm and humid climates</p>
      <div class="line2"></div>
      <h3>Skin feel</h3>
      <p>Radiant, nourished, healthy and youthfull.</p>
      <div class="line2"></div>
      <h3>Key ingredients</h3>
      <p>
        Raspberry Seed Oil, Kalahari Melon Seed Oil, Nourishing Pequi Oil,
        Balancing Squalene, Pequi Oil, Vitamin-E Non GMO.
      </p>
    </div>
  </div>

  <section class="how-to-use">
    <div class="grid_1-1">
      <div>
        <Image class="produkt4" src={pro4} alt="produkt4" />
      </div>
      <div>
        <h4>HOW TO USE</h4>
        <h5>
          Massage 4-6 drops onto clean, slightly damp skin, mix with cream, or
          use it alone. We recommend using this in the evening.
        </h5>
        <div class="line3"></div>
        <h5>Some of the skin loving benefits:</h5>
        <p class="p4">
          Rich in antioxidants and Vitamin C, reduces redness, and protects
          against environmental damage. Enhances skin elasticity and supports a
          healthy skin barrier, leaving the skin fresh and revitalized. Smoothes
          irritated skin and promotes the skin's natural healing.
        </p>
        <div class="flex">
          <Image class="produkt5" src={pro5} alt="produkt5" />
          <Image class="produkt6" src={pro6} alt="produkt6" />
          <Image class="produkt7" src={pro7} alt="produkt7" />
          <Image class="produkt8" src={pro8} alt="produkt8" />
        </div>
      </div>
    </div>
  </section>

  <section class="other-customers">
    <div>
      <h2>OTHER CUSTOMER BOUGHT</h2>
      <div class="flex2">
        <div>
          <Image class="shop3" src={shop3} alt="shop3" />
          <p>I AM YIN</p>
          <p>limited edition oil cleanser</p>
        </div>
        <div>
          <Image class="shop6" src={shop6} alt="shop6" />
          <p>I AM NOURISHED</p>
          <p>body oil</p>
        </div>
        <div>
          <Image class="shop5" src={shop5} alt="shop5" />
          <p>I AM HEALING</p>
          <p>face oil</p>
        </div>
      </div>
    </div>
  </section>

  <style>
    @font-face {
      font-family: ZapfHumanist;
      src: url("/fonts/ZapfHumanist601Regular.ttf");
    }
    body {
      background-color: #f5f1eb;
    }
    a {
      text-decoration: none;
      color: black;
    }
    .header {
      display: flex;
      justify-content: space-between;
    }
    .menu1 {
      display: none;
    }

    .product-section {
      padding: 20px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
    .product-images,
    .main-image,
    .product-details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .produkt1,
    .produkt2,
    .produkt3 {
      width: 15vh;
      margin: 3vh;
    }
    .shop1 {
      width: 40vh;
      margin-left: -30vh;
      margin-top: 10vh;
    }
    .stjerne {
      width: 15px;
      height: 15px;
      margin-left: -50px;
      margin-top: 20px;
    }
    .boks {
      border: 1px solid black;
      width: 70px;
      margin-top: 10px;
      text-align: center;
      height: 25px;
      margin-left: -72%;
    }
    .p3 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
    }
    .line,
    .line2,
    .line3 {
      border-bottom: 1px solid black;
      width: 70%;
      margin: 10px 0;
    }
    .produkt4 {
      width: 100%;
      max-width: 800px;
      height: auto;
      margin-top: 150px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .flex {
      display: flex;
      gap: 20px;
    }
    .produkt5,
    .produkt6,
    .produkt7,
    .produkt8 {
      width: 100px;
    }
    .flex2 {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .flex3 {
      display: flex;
      gap: 5px;
      align-items: center;
    }
    .shop3,
    .shop5,
    .shop6 {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-top: 150px;
    }
    h1 {
      margin-top: 90px;
      font-size: 36px;
      margin-left: -150px;
    }

    h4,
    h5,
    p {
      margin-left: 50px;
      width: 100%;
      max-width: 500px;
    }

    p {
      margin-left: 150px;
      font-size: 16px;
      margin-top: 20px;
    }
    .pris {
      margin-top: 20px;
      font-size: 20px;
      margin-left: 12%;
    }
    .boks1 {
      margin-top: 3%;
      margin-left: 3%;
    }
    .boks {
    }
    @media (min-width: 1025px) {
      .grid {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .grid_1-1 {
        grid-template-columns: 1fr;
      }
      .produkt4,
      .shop1,
      .shop3,
      .shop5,
      .shop6 {
        margin: 0 auto;
      }
      .p1 {
        margin-left: -13%;
        font-size: 16px;
        width: 354px;
      }
      .knap {
        margin-left: -26%;
      }
    }
    @media (max-width: 599px) {
      .menu {
        display: none;
      }
      .menu1 {
        display: block;
      }
      .produkt1,
      .produkt2,
      .produkt3,
      .produkt4,
      .shop1,
      .shop3,
      .shop5,
      .shop6 {
        width: 100%;
      }
      .p1,
      h5,
      p,
      h4 {
        margin: 0 auto;
        width: 100%;
        max-width: 380px;
      }
    }
  </style>
</section>
